body{
    margin: 0;
    padding: 0;
    background: url("../images/bg.png") no-repeat center;
    background-size: cover;
}
p{
    padding: 0;
}
.main{
    margin: 0 auto;
    width: 1120px;
    font-family: "Verdana", serif;
    font-size: 18px;
    color: #ffffff;

}
.clear-fix{
    clear: both;
    content: '';
}
.orange-hover:hover{
    color: #f26523;
}
.main-header{
    height: 45px;
    color: #ffffff;
    margin-top: 45px;
}
.header-col{
    float: left;
}
.header-left{
    float: left;
}
.header-left img{
    height: 100%;
    float: left;
}
.header-link{
    color: #ffffff;
    float: left;
    text-decoration: none;
    font-family: "Verdana-Bold", serif;
}
.link-line{
    padding: 0;
    margin: 0;
}
.header-link .link-line:first-child{
    font-size: 29px;
    line-height: 30px;
    text-transform: uppercase;
}
.header-link .link-line:last-child{
    font-size: 18px;
    line-height: 15px;
    text-transform: uppercase;
}
.header-right{
    float: right;
    font-size: 18px;
    text-align: right;
    line-height: 22px;
}
.tours-lists{
    margin:0 -35px;
}
.tour-item{
    width: 310px;
    height: 200px;
    margin: 50px 35px 50px 35px;
    float: left;
    position: relative;
    box-sizing: border-box;
}
.tour-image{
    background-size: cover;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    border: 3px solid;
    border-image: linear-gradient( to bottom, #ffffff, #9d9589) 1;
}
.tour-href-image:hover+.tour-detail, .tour-detail:hover{
    display: inline-block;
    animation-duration: 1s;
    animation-name: slidein;

}
@keyframes slidein {
    from {
        color: transparent;
        background-color: transparent;
    }

    to {
        color: #ffffff;
        background-color: #f26523;
    }
}
.tour-detail{
    display: none;
    margin-bottom: 0;
    height: 60px;
    background-color: #f26523;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;



}

.tour-title{
    margin-top: 15px;
    text-align: center;

}
a{
    color: #ffffff;
    text-decoration: none;
}

.pull-left{
    float: left;
    display: inline-block;
    width: 50%;
}
.pull-right{
    float: right;
    display: inline-block;
    width: 50%;
}
.tour-link{
    margin-top: -5px;
}
.tour-from{
    font-size: 10px;
    margin: 15px 20px 10px;
}
.tour-price{
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 20px;
    width: calc(50% - 20px);
    line-height: 16px;
}
.tour-view{
    font-size: 14px;

}
.tour-view::after{
    content: '>';
    margin: 0 15px;
    width: 40px;

}


.footer{
    font-size: 12px;
    margin: 50px 0 15px 0;
    text-align: center;
}